<!-- login.component.html -->
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl shadow-lg">
      <div class="text-center">
        <h2 class="mt-6 text-3xl font-extrabold text-gray-900">Iniciar sesión</h2>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-6">
        <div class="rounded-md shadow-sm">
          <div class="relative">
            <i class="fas fa-user absolute text-gray-500 text-lg left-3 top-2.5"></i>
            <input type="email" id="email-address" formControlName="email" required
                   class="pl-10 pr-3 py-2 w-full border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                   placeholder="Correo electrónico">
          </div>
          <div class="relative mt-4">
            <i class="fas fa-lock absolute text-gray-500 text-lg left-3 top-2.5"></i>
            <input type="password" id="password" formControlName="password" required
                   class="pl-10 pr-3 py-2 w-full border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                   placeholder="Contraseña">
          </div>
        </div>
        <div>
          <button type="submit" [disabled]="!loginForm.valid"
                  class="relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 ease-in-out">
            Iniciar sesión
          </button>
        </div>
      </form>
      <p class="mt-4 text-center text-sm text-gray-600">
        ¿No tienes cuenta?
        <a routerLink="/auth/register" class="font-medium text-indigo-600 hover:text-indigo-700">Regístrate</a>
      </p>
    </div>
  </div>
