.button-3d {
    transition: transform 0.3s ease-in-out;
}

.button-3d:hover {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.txt{
    text-align: justify;
}

.txt-about{
    margin-right: 40px;
}